<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.2" />
  <package id="Modernizr" version="2.5.3" />
  <package id="Nancy" version="0.10.0" />
  <package id="Nancy.Hosting.Aspnet" version="0.10.0" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="PusherRESTDotNet" version="1.2.0.26184" />
  <package id="Twitter.Bootstrap" version="2.0.3" />
</packages>